/*
Student Name: firstname lastname
File Name: styles.css
Date: 01/01/2020
*/

/* CSS Reset */
body, header, nav, main, footer, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    padding 2%;
    background-color: #d1d1e0;
}

/* Style rule for header content */
header h1 {
    text-align: center;
    font-size: 3em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    color: #47476b;
}

/* Style rules for navigation area */
nav {
    background-color: #47476b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #e3eaf8;
    padding: 0.5em 2em;
    text-decoration: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
    overflow: auto;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
    font-size: 2em;
}

#css1, #css2, #css3 {
    width: 30%;
    float: left;
    padding: 0 1%;
}

main a {
    color: #47476b;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    color: #47476b;
    padding: 1% 0;
    clear: left;
    border-top: 3px solid #47476b;
}